In [68]:
import pandas as pd

In [69]:
df = pd.read_csv('../titanic.csv', usecols=['Survived', 'Age', 'SibSp', 'Parch', 'Fare'])

In [70]:
df.columns

Index(['Survived', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

In [71]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy='mean')
df['Age'] = imp.fit_transform(df[['Age']])
df['Family'] = df['SibSp'] + df['Parch']
df.drop(columns=['Parch', 'SibSp'], inplace=True)
x = df.drop(columns=['Survived'])
y = df['Survived']

df.isnull().sum()

Survived    0
Age         0
Fare        0
Family      0
dtype: int64

In [72]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [73]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
wdt = DecisionTreeClassifier()
wdt.fit(x_train, y_train)
y_pred = wdt.predict(x_test)
accuracy_score(y_pred, y_test)

0.664804469273743

In [74]:
from sklearn.model_selection import cross_val_score

In [75]:
import numpy as np
np.mean(cross_val_score(DecisionTreeClassifier(), x, y, cv=10, scoring='accuracy'))

np.float64(0.6498377028714106)

In [76]:
from sklearn.preprocessing import Binarizer
from sklearn.compose import ColumnTransformer

In [77]:
trf = ColumnTransformer(transformers=[
    ('bin', Binarizer(copy=False), ['Family'])
], remainder='passthrough')

In [78]:
x_train_trf = trf.fit_transform(x_train)
x_test_trf = trf.fit_transform(x_test)

In [79]:
trfDt = DecisionTreeClassifier()
trfDt.fit(x_train_trf, y_train)
y_pred_trf = trfDt.predict(x_test_trf)
accuracy_score(y_pred_trf, y_pred)

0.8715083798882681

In [80]:
np.mean(cross_val_score(DecisionTreeClassifier(), trf.fit_transform(x), y, cv=10, scoring='accuracy'))

np.float64(0.6532334581772784)

In [84]:
pd.DataFrame(trf.fit_transform(x),columns=['family','Age','Fare'])

     family        Age     Fare
0       1.0  22.000000   7.2500
1       1.0  38.000000  71.2833
2       0.0  26.000000   7.9250
3       1.0  35.000000  53.1000
4       0.0  35.000000   8.0500
..      ...        ...      ...
886     0.0  27.000000  13.0000
887     0.0  19.000000  30.0000
888     1.0  29.699118  23.4500
889     0.0  26.000000  30.0000
890     0.0  32.000000   7.7500

[891 rows x 3 columns]