In [1]:
import pandas as pd
import requests
from io import StringIO
import numpy as np

In [2]:
res = requests.get('https://raw.githubusercontent.com/campusx-official/100-days-of-machine-learning/refs/heads/main/day27-one-hot-encoding/cars.csv').text
df = pd.read_csv(StringIO(res))
df.head()

     brand  km_driven    fuel         owner  selling_price
0   Maruti     145500  Diesel   First Owner         450000
1    Skoda     120000  Diesel  Second Owner         370000
2    Honda     140000  Petrol   Third Owner         158000
3  Hyundai     127000  Diesel   First Owner         225000
4   Maruti     120000  Petrol   First Owner         130000

In [3]:
pd.get_dummies(df, columns=['fuel', 'owner'], dtype=np.int32, drop_first=True)

,brand,km_driven,selling_price,fuel_Diesel,fuel_LPG,fuel_Petrol,owner_Fourth & Above Owner,owner_Second Owner,owner_Test Drive Car,owner_Third Owner
0,Maruti,145500,450000,1,0,0,0,0,0,0
1,Skoda,120000,370000,1,0,0,0,1,0,0
2,Honda,140000,158000,0,0,1,0,0,0,1
3,Hyundai,127000,225000,1,0,0,0,0,0,0
4,Maruti,120000,130000,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
8123,Hyundai,110000,320000,0,0,1,0,0,0,0
8124,Hyundai,119000,135000,1,0,0,1,0,0,0
8125,Maruti,120000,382000,1,0,0,0,0,0,0
8126,Tata,25000,290000,1,0,0,0,0,0,0
8127,Tata,25000,290000,1,0,0,0,0,0,0

In [4]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df.iloc[:,0:4], df.iloc[:,[-1]], test_size=0.2, random_state=42)

In [8]:
from sklearn.preprocessing import OneHotEncoder
oe = OneHotEncoder(drop='first', dtype=np.int32)

In [28]:
x_train_new = oe.fit_transform(x_train[['fuel', 'owner']]).toarray()
x_test_new = oe.fit_transform(x_test[['fuel', 'owner']]).toarray()

In [33]:
np.hstack((x_train[['brand','km_driven']].values,x_train_new))

array([['Tata', 2560, 0, ..., 0, 0, 0],
       ['Honda', 80000, 0, ..., 1, 0, 0],
       ['Hyundai', 150000, 1, ..., 0, 0, 0],
       ...,
       ['Hyundai', 35000, 0, ..., 0, 0, 0],
       ['Maruti', 27000, 1, ..., 0, 0, 0],
       ['Maruti', 70000, 0, ..., 1, 0, 0]], shape=(6502, 9), dtype=object)

In [42]:
counts = df['brand'].value_counts()
threshold = 100
counts = counts[counts <= threshold].index

In [50]:
pd.get_dummies(df['brand'].replace(counts, 'others'), dtype=np.int32).sample(5)

,BMW,Chevrolet,Ford,Honda,Hyundai,Mahindra,Maruti,Renault,Skoda,Tata,Toyota,Volkswagen,others
4091,0,0,0,0,0,0,0,0,0,0,0,0,1
2113,0,0,0,0,1,0,0,0,0,0,0,0,0
840,0,0,0,0,0,0,0,0,0,1,0,0,0
7404,0,0,0,0,0,0,0,0,0,0,0,0,1
1982,0,0,0,0,0,0,0,0,0,0,0,0,1